.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  width: 100%;
}

/* si está bajo 630px entonces quitar flex-wrap */
@media (max-width: 630px) {
  .cards-container {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .parrafo {
    width: 100% !important;
  }

  app-basic-card {
    width: 90%;
  }
}

.parrafo {
  width: 20rem;
  text-align: justify;
}

.resultado-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.resultado {
  margin-bottom: 0;
  font-weight: bold;
  font-size: larger;
}

app-basic-card {
  min-height: 12rem;
}

.datosTable {
  border-collapse: separate;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 90%;
}

.datosTable td,
.datosTable th {
  border-left: solid gray 1px;
  text-align: center;
}

.datosTable th {
  font-weight: bold;
  border-top: none;
  border-bottom: solid gray 1px;
  padding: 1vmin;
  background-color: whitesmoke;
}

.datosTable td:first-child,
.datosTable th:first-child {
  border-left: none;
}

.content-container {
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  height: 15rem;
  overflow-y: auto;
}
